* text=auto

*.md text eol=lf
*.rst text eol=lf
*.v text eol=lf
*.sv text eol=lf
*.f text eol=lf
*.list text eol=lf
*.sh text eol=lf
*.ys text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.lib text eol=lf

